<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-madison">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
       
        <ion-content>
            <ion-list>
                <ion-item class="text-center">

                <img src="http://lorempixel.com/people/80/80/" alt="" style="height:80px;widht:80px;border-radius:50%;border: 2px solid #2C3E50;">
                <h2>name here</h2>

                    </ion-item>
                <ion-item menu-close href="#/app/home">
                    <h2 style="margin:15px 0 15px 0;font-size:1.4em">feed
                                                <i style="float:right;"class="icon ion-earth"></i>
                    </h2>
                </ion-item>
                <ion-item menu-close href="#/app/discover">
                    <h2 style="margin:15px 0 15px 0;font-size:1.4em">Discover 
                                                <i style="float:right;" class="icon ion-android-search"></i>
                    </h2>

                </ion-item>
                <ion-item menu-close href="#/app/activity">
                    <h2 style="margin:15px 0 15px 0;font-size:1.4em">Actitity 
                                                <i style="float:right;" class="icon ion-flash"></i>
                    </h2>
                </ion-item>
                <ion-item menu-close href="#/app/preference">
                    <h2 style="margin:15px 0 15px 0;font-size:1.4em">Preference
                        <i style="float:right;"     class="icon ion-android-options"></i>
                    </h2>
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>