<ion-view view-title="My Feed">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar" style="padding:16px 16px 4px 72px;">
                <img src="http://lorempixel.com/people/80/80/">
                <h2>Marty McFly <span style="float:right;border-radius: 15% 15% 15% 15%;background-color:#2C3E50;"> <small style="color:white;margin:5px;font-size:0.9em;"><i class="ion-shuffle"> kevin</i></small> </span></h2>
                <p>2 hours ago</p>
            </div>
            <div class="item item-image">
                <img src="http://lorempixel.com/sports/400/200">
            </div>
            <div class="item item-body" style="padding:0 10px 0 10px;">
                <p style="margin:12px 0 5px">
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting
                    of an image and paragraph text. The footer consists of tabs.
                </p>
                <p style="margin-top:0;">
                    <button class="button  button-light button-icon-left ion-heart"> 2</button>
                    <button class="button button-light  button-icon-left ion-chatbubbles"> 3</button>
                    <button style="float:right" class="button button-light  button-icon-right ion-shuffle"></button>
                </p>
            </div>

        </div>
       <div class="list card">
            <div class="item item-avatar" style="padding:16px 16px 4px 72px;">
                <img src="http://lorempixel.com/people/80/80/">
                <h2>Marty McFly <span style="float:right;border-radius: 15% 15% 15% 15%;background-color:#2C3E50;"> <small style="color:white;margin:5px;font-size:0.9em;"><i class="ion-shuffle"> kevin</i></small> </span></h2>
                <p>2 hours ago</p>
            </div>
            <div class="item item-image">
                <img src="http://lorempixel.com/sports/400/200">
            </div>
            <div class="item item-body" style="padding:0 10px 0 10px;">
                <p style="margin:12px 0 5px">
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting
                    of an image and paragraph text. The footer consists of tabs.
                </p>
                <p style="margin-top:0;">
                    <button class="button  button-light button-icon-left ion-heart"> 2</button>
                    <button class="button button-light  button-icon-left ion-chatbubbles"> 3</button>
                    <button style="float:right" class="button button-light  button-icon-right ion-shuffle"></button>
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>