<ion-modal-view>
<ion-header-bar>
<h1 class="title">Login</h1>
<div class="buttons">
    <button class="button button-clear" ng-click="closeLogin()">Close</button>
</div>
</ion-header-bar>
<ion-content class="padding">

<br><br>
   
    <br>
    <div class="" style="background-color:#fff" >
        <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input type="text" placeholder="Username">
        </label>
    </div>
    <br>
    <div class="" style="background-color:#fff" >
        <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="text" placeholder="Password">
        </label>

    </div>
    <br>

     <div class="text-center">
        <button class="button button-block  button-chambray" ng-click="onLogin()" >Log in</button>
    </div>

</ion-content>
</ion-modal-view>